[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mp-api = "*"
mpcontribs-client = "*"
mendeleev = "*"
numpy = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
