@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
	font-family: "Pixelboy";
	src: url("/fonts/Pixelboy.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "OldSchoolAdventures";
	src: url("/fonts/OldSchoolAdventures.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Mozart";
	src: url("/fonts/Mozart.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "NeoEuler";
	src: url("/fonts/NeoEuler.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.smooth-transition {
  @apply transition duration-200 ease-in-out;
}

.smooth-transition-all {
  @apply transition-all duration-200 ease-out;
}