.content{
    flex: 8;
    nav{ position: absolute; z-index: 1;}
}
.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 20rem;
    text-align: center;
    padding: 5px 12px;
    font-family: monospace;
    background: #a0c020;
    display: none;
    opacity: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s linear;
    border-radius: 3px;
    z-index: 3;
}
