:root {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    font-weight: 500;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --input-color: #b5f7c6;
    --binary-color: #eec2f9;
    --unary-color: #f7c4d4;
    --comparison-color: #c1e8f9;
    --output-color: #f8f5b9;
    --gray: rgba(51, 51, 51, 0.5);;
    --small-padding: 10px;
    --med-padding: 15px;
    --large-padding: 35px;
    --small-radius: 5px;
}

body {
    padding: 0;
    margin: 0;
}


.flowchart-container {
    display: flex;
}

.buttons-panel {
    position: absolute;
    top: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    display: flex;
    height: fit-content;
}


.react-split {
    height: 100vh;
}

.node {
    border: 1px solid #000;
    padding: var(--med-padding);
    border-radius: var(--small-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.node.button {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    height: 40px
}

.handle.input {
    background-color: #fff;
    border-color: #000;
}

.handle.output {
    background-color: #000;
    border-color: #fff;
}

.json-viewer {
    position: absolute;
    padding: var(--small-padding);
    line-height: 1;
    white-space: pre-wrap;
    width: 100%;
    border-left: 2px solid #ccc;
    overflow-y: auto;
}

.round {
    border-radius: 50%;
    aspect-ratio: 1;
}

.input {
    background-color: var(--input-color);
}

.binary {
    background-color: var(--binary-color);
}

.unary {
    background-color: var(--unary-color);
}

.comparison {
    background-color: var(--comparison-color);
}

.output {
    background-color: var(--output-color);
}

input {
    width: 80px;
}

select {
    width: 40px;
}

.darkmode-switch {
    position: absolute !important;
    right: var(--large-padding);
    z-index: 10;
}

.json-contents {
    position: absolute;
    z-index: 1;
}

.react-flow__attribution {
    background: none;
}