.operation-node {
    background-color: var(--operation-color);
    padding: var(--med-padding);
    border: 1px solid #000;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}