@import './variables.scss';

:root {
  box-sizing: border-box;
}

.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h2 {
  margin: 0;
  padding: 0.25rem;
}

.App-header {
  margin: 0;
  height: $header-height;
  padding: 0;
  text-align: left;
  justify-content: flex-start;
  background-color: $primary-color;
}

.App-main {
  height: 93vh;
  display: flex;
  flex-direction: column;
}

.App-footer {
  height: $footer-height;
  background-color: $primary-color;
}




