.SourceEditor {
    height: 100%;
    width: 40%;
}

.TextEditor {
    height: 100%;
    width: 100%;
    min-height: 30vh;
    min-width: 30vw;
    font-family: monospace;
    white-space: pre-wrap;
    overflow: visible;
    resize: none;
}


